--So in order for me to know exactly what the problem was I started by creating a simple query to request all student info
--This is to make sure that the error can be identified by isolating it at the level it occurs.
--No error was found at this point
--Please continue to Q7.1.sql for the next step

SELECT *
FROM Student;
