--So in order for me to know exactly what the porblem was I started by creating a simple query to request all student first_name, last_name
--This is to make sure that the error can be identified by isolating it at the level it occurs.
--No error was found at this point
--Please continue to Q8.1.sql for the next step
SELECT first_name, last_name
FROM Student;
